@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] - CorrectBonus</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- INSTALLER CSS -->
    <link rel="stylesheet" href="~/css/pages/installer.css" />
</head>
<body>

    <main>
        @RenderBody()
    </main>

</body>
</html>
