@model List<RegionTreeDto>

<ul>
    @foreach (var item in Model)
    {
        <li>
            @item.Name
            @if (item.Children.Any())
            {
                @await Html.PartialAsync("Tree", item.Children)
            }
        </li>
    }
</ul>
